    <section class="layout-chamada">
        <div class="container">

            <div class="chamada">
                <h1 class="chamada__titulo">As suas finanças em ordem</h1>
                <p class="chamada__subtitulo">Software de gestão simples e prático para gerência de gastos domésticos</p>


            </div>

        </div>
    </section>

    <section class="layout-depoimento">
            <div class="container">

                <div class="depoimento">
                    <blockquote>
                        O mundo sempre dá <strong>valor</strong> ao <strong>desenvolvimento</strong>. Saem na frente quem têm a melhor <strong>estratégia</strong> para adquirir <strong>conhecimento</strong>, entretanto muitos destes esquecem que tudo isso depende da <strong>informação</strong>.
                    </blockquote>

                    <div class="depoimento__autor">
                        <img src="./../../content/images/jairo2.png" width="180" height="180" alt="Jairo Nascimento">
                        <p>Jairo Nascimento</p>
                    </div>
                </div>

            </div>
    </section>
